[submodule "catch2024_teamr_gui/catch2024_teamr_gui_app"]
	path = catch2024_teamr_gui/catch2024_teamr_gui_app
	url = git@github.com:KeioRoboticsAssociation/catch2024_teamr_gui_app.git
[submodule "rogidrive"]
	path = rogidrive
	url = git@github.com:KeioRoboticsAssociation/rogidrive.git
